{{! vim: set ft=html: }}

{{#*inline "body"}}

<div class="flex flex-col space-y-8 w-full lg:w-fit justify-left">
{{> components/caption text=course.name}}
{{{markdown course.discussion.markdown}}}
{{#each course.assignments}}
  <div class="flex flex-row justify-between items-center space-x-16">
    {{#if this.Grade}}     
        {{> components/label id=this.Grade.name text=this.Grade.name}}
        {{> components/gradebar id=this.Grade.name value=this.Grade.grade icon="la-plus-circle" border="border-ccexam-600" bgcol="bg-ccexam-500 progress-bg:bg-ccexam-500" accentcol="progress:bg-ccexam-300" textcol="text-ccexam-50" iconcol="text-ccexam-200"}}
    {{/if}}
    {{#if this.Point}}
      {{> components/label id=this.Point.name text=this.Point.name}}
      {{> components/pointbar value=this.Point.points maxvalue=this.Point.max_points icon="la-plus-circle" border="border-cccolq-600" bgcol="bg-cccolq-500 progress-bg:bg-cccolq-500" accentcol="progress:bg-cccolq-300" textcol="text-cccolq-50" iconcol="text-cccolq-200"}}
    {{/if}}
  </div>
{{/each}}
  <div class="flex flex-row items-center space-x-4">
    {{> components/button_link button_href=(concat "/courses") button_text=(i18n "Назад")}}
  </div>
</div>

{{/inline}}
{{> base }}

