{{! vim: set ft=html: }}

{{#*inline "body"}}

<div class="flex flex-col items-center space-y-8">
  {{#if show_success}}
  {{> components/success text=(concat (i18n "Курс ") deleting_course.name (i18n " је успешно обрисан!"))}}
  {{else}}
  {{> components/caption text=(concat (i18n "Обриши курс ") deleting_course.name (i18n "?"))}}
  <form method="post">
    {{> components/button button_text=(i18n "Потврди")}}
  </form>
  {{/if}}
  {{#if show_you_can_only_delete_own_courses}}
    {{> components/error text=(i18n "Можете брисати само своје курсеве!")}}
  {{/if}}
  {{> components/button_link button_href="/courses" button_text=(i18n "Назад")}}
</div>
{{/inline}}
{{> base }}
