{{! vim: set ft=html: }}

{{#*inline "body"}}
<div class="flex flex-col items-center space-y-16 lg:space-y-8">
  {{> components/caption text=(i18n "Креирај задатак")}}

  <form class="flex flex-col items-center py-16 space-y-32 lg:space-y-16 lg:py-8" action="" method="get">
  {{#> components/input_select icon="la-plus-circle" border="border-cccolq-500" class="bg-cccolq-500" field_name="assignment_type" text=(i18n "Тип оцене")}}
    <option value="Grade">{{i18n "Оцена"}}</option>
    <option value="Point">{{i18n "Поени"}}</option>
  {{/components/input_select}}
  {{> components/button button_text=(i18n "Даље")}}
  </form>

  {{#if show_success_message}}
    {{> components/success text=(i18n "Задатак је успешно креиран!")}}
  {{/if}}
  {{#if show_error_all_fields_required}}
    {{> components/error text=(i18n "Сва поља су неопходна!")}}
  {{/if}}

  {{> components/button_link button_href=(concat "/course/" course.url) button_text=(i18n "Назад")}}
</div>
{{/inline}}
{{> base }}
