{{! vim: set ft=html: }}

{{#*inline "body"}}

{{#each courses}}
<a class="flex flex-row items-center" href="/course/{{this.url}}">
  {{> components/caption text=this.name}}
</a>
{{/each}}

{{/inline}}
{{> base }}
