{{! vim: set ft=html: }}

{{#*inline "body"}}

<div class="flex flex-col justify-left">
{{> components/caption text=name}}
{{#each assignments}}
  <div class="flex flex-row justify-evenly"></div>
    {{#if this.Grade}}     
        {{> components/label id=this.Grade.name text=this.Grade.name}}
    {{/if}}
    {{#if this.Point}}
      {{> components/label id=this.Point.name text=this.Point.name}}
    {{/if}}
  </div>
{{/each}}
  <div class="flex flex-row items-center space-x-4">
    {{> components/button_link button_href=(concat "/courses") button_text=(i18n "Назад")}}
  </div>
</div>

{{/inline}}
{{> base }}
