{{! vim: set ft=html: }}

{{#*inline "body"}}

<div class="flex flex-col items-center space-y-16">
  <form class="flex flex-col items-center space-y-2" action="generations" method="post">
    {{> components/input_text icon="la-calendar" border="border-cctimebd" class="bg-cctime"  type="number" field_name="year" text=(i18n "Година")}}
    {{> components/button button_text=(i18n "Креирај генерацију")}}
  </form>
  {{#if show_error_duplicate_year}}
    {{> components/error text=(i18n "Генерација са том годином већ постоји!")}}
  {{/if}}
  {{#if show_success_message}}
    {{> components/success text=(i18n "Генерација је додата!")}}
  {{/if}}
</div>

<div class="grid grid-cols-2 gap-4 items-center">
  {{#each generations}}
  <div>
    <div class="flex flex-col items-center">
      {{> components/label text=this.year}}
    </div>
    <div class="flex flex-row items-center space-x-16">
      <form action="generations/delete/{{this.id}}" method="get">
        {{> components/button button_text=(i18n "Обриши")}}
      </form>
    </div>
  </div>    
  {{/each}}
</div>

{{/inline}}
{{> base }}