{{! vim: set ft=html: }}

{{#*inline "body"}}

<div class="flex flex-col items-center space-y-4">
  <form class="flex flex-col items-center space-y-4" action="programs" method="post">
    {{> components/input_text icon="la-graduation-cap" border="border-ccprogbd" class="bg-ccprog" required="true" field_name="short_name" text=(i18n "Скраћеница")}}
    {{> components/input_text icon="la-user-graduate" border="border-ccprogbd" class="bg-ccprog" required="true" field_name="full_name" text=(i18n "Пуно име")}}
    {{> components/button button_text=(i18n "Креирај смер")}}
  </form>
  {{#if show_error_duplicate_name}}
    {{> components/error text=(i18n "Смер са тим именом већ постоји!")}}
  {{/if}}
  {{#if show_error_short_name_too_long}}
    {{> components/error text=(i18n "Кратко име је предугачко!")}}
  {{/if}}
  {{#if show_success_message}}
    {{> components/success text=(i18n "Смер додат!")}}
  {{/if}}
</div>

<div class="grid grid-cols-2 gap-4 items-center">
  {{#each programs}}
  <div>
    <div class="flex flex-col items-center">
      {{> components/label text=this.short_name}}
      {{> components/label text=this.full_name}}
      <form action="programs/delete/{{this.id}}" method="get">
        {{> components/button button_text=(i18n "Обриши Смер")}}
      </form>
    </div>
  </div>
  {{/each}}
</div>

{{/inline}}
{{> base }}