{{! vim: set ft=html: }}

{{#*inline "body"}}
<div class="flex flex-col">
  {{> components/users_form data=users}}
  {{> components/button_link button_href="users/create" button_text="Create a new user"}}
</div>
{{/inline}}
{{> base }}
