{{! vim: set ft=html: }}

{{#*inline "body"}}
<div class="flex flex-col items-center space-y-8 lg:space-y-4 lg:grid lg:grid-cols-4">
  {{#each users}}
    <div>
      {{#if this.username}}
        {{> components/label id=this.username label_text=this.username}}
      {{else}}
        {{> components/label id=this.username label_text="Username not set"}}
      {{/if}}
    </div>
    <div id={{this.username}}>
      {{> components/text_small text=this.email}}
    </div>
    <div>
      {{> components/text_small text=this.account_type}}
    </div>
    <div class="flex flex-row items-center space-x-16">
      <form action="users/delete/{{this.id}}" method="get">
        {{> components/button button_text="Delete"}}
      </form>
      <form action="users/edit/{{this.id}}" method="get">
        {{> components/button button_text="Edit"}}
      </form>
    </div>
    {{/each}}
</div>
<div class="flex">
  {{> components/button_link button_href="users/create" button_text="Create a new user"}}
</div>
{{/inline}}
{{> base }}
