{{! vim: set ft=html: }}

{{#*inline "body"}}

<p>This is the page for course {{course.name}}</p>
{{#each course.assignments}}
  {{#if this.Grade}}
    <p>Assignment: {{this.Grade.name}}</p>
  {{/if}}
  {{#if this.Point}}
    <p>Assignment: {{this.Point.name}} Max points: {{this.Point.max_points}}</p>
  {{/if}}
{{/each}}

{{/inline}}
{{> base }}
