{{! vim: set ft=html: }}

{{#*inline "body"}}
<div class="flex flex-col space-y-8 justify-left">
  {{> components/caption text=course.name}}
  <div class="flex flex-col space-y-4 justify-left">
    {{#each course.assignments}}
      <div class="flex flex-row justify-between space-x-16">
        {{#if this.Grade}}
          <a class="flex flex-col items-center cursor-pointer"  href={{concat "/course/" ../course.url "/assignment/" this.Grade.url "/progress"}}> 
            {{> components/label id=this.Grade.name text=this.Grade.name}}
          </a>
        {{/if}}
        {{#if this.Point}}
          <a class="flex flex-col items-center cursor-pointer"  href={{concat "/course/" ../course.url "/assignment/" this.Point.url "/progress"}}> 
            {{> components/label id=this.Point.name text=this.Point.name}}
          </a>
        {{/if}}
      </div>
    {{/each}}
  </div>
  <div class="grid grid-cols-2 items-center lg:flex lg:flex-row lg:space-x-4">
    {{> components/button_link button_href=(concat "/course/" course.url "/enrol") button_text=(i18n "Упиши студенте")}}
    {{> components/button_link button_href=(concat "/course/" course.url "/assignments/create") button_text=(i18n "Креирај задатке")}}
    {{> components/button_link button_href=(concat "/course/" course.url "/delete") button_text=(i18n "Обриши курс")}}
    {{> components/button_link button_href=(concat "/courses") button_text=(i18n "Назад")}}
  </div>
</div>

{{/inline}}
{{> base }}
