{{! vim: set ft=html: }}

{{#*inline "body"}}

{{#each courses}}

<a class="flex flex-row items-center" href="course/{{this.url}}">
  <div class="font-sans text-2xl font-bold text-caption" >{{this.name}}</div>
</a>
{{/each}}

{{/inline}}
{{> base }}
