{{! vim: set ft=html: }}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/tailwind.css">
    <title>E-Student</title>
  </head>
  <body>
{{> components/login_information user_info=user_info}}

{{> body}}

  </body>
</html>
