{{! vim: set ft=html: }}

{{#*inline "body"}}

<form class="flex flex-col items-center py-16 space-y-32 lg:space-y-16 lg:py-8" action="create" method="post">
  <p>First name:</p>
  <input type="text" name="first_name">
  <p>Last name:</p>
  <input type="text" name="last_name">
  <p>Account type:</p>
  <select name="account_type">
    <option value="Student">Student</option>
    <option value="Professor">Professor</option>
    <option value="Administrator">Administrator</option>
  </select>
  {{> components/input_text icon="la-envelope" border="border-ccemail" class="bg-ccemail" field_name="email" label_text=(i18n "Имејл адреса")}}
  {{> components/button_link button_href="users/create" button_text=(i18n "Креирај корисника")}}
</form>
{{#if show_success_message}}
  {{> components/success text=(i18n "Корисник је успешно креиран!")}}
{{/if}}
{{#if show_duplicate_email}}
  {{> components/error text=(i18n "Имејл је већ у употреби")}}
{{/if}}
{{#if show_invalid_email}}
  {{> components/error text=(i18n "Неисправан унет имејл")}}
{{/if}}

{{/inline}}
{{> base }}
