{{! vim: set ft=html: }}

{{#*inline "body"}}
{{> components/caption text=(i18n "Обриши корисника")}}
{{> components/text_small text=deleting_user.first_name}}
{{> components/text_small text=deleting_user.last_name}}
{{> components/text_small text=deleting_user.account_type}}
{{> components/text_small text=deleting_user.email}}
<form class="flex flex-col items-center py-16 space-y-32 lg:space-y-16 lg:py-8" action="{{deleting_user.id}}" method="post">
  {{> components/button button_text=(i18n "Обриши корисника")}}
</form>
{{/inline}}
{{> base }}
