{{! vim: set ft=html: }}

{{#*inline "body"}}

{{> components/caption text=(i18n "Креирај корисника")}}
<form class="flex flex-col items-center py-16 space-y-32 lg:space-y-16 lg:py-8" action="create" method="post">
{{#> components/input_select icon="la-user-circle" border="border-ccuser" class="bg-ccuser" field_name="account_type" text=(i18n "Тип налога") readonly=true}}
<option value="Student">{{i18n "Студент"}}</option>
<option value="Professor" selected>{{i18n "Професор"}}</option>
<option value="Administrator">{{i18n "Администратор"}}</option>
{{/components/input_select}}
{{> components/input_text icon="la-envelope" border="border-ccemail" class="bg-ccemail" field_name="email" text=(i18n "Имејл адреса")}}
{{> components/input_text icon="la-user" border="border-ccuser" class="bg-ccuser" field_name="first_name" text=(i18n "Име")}}
{{> components/input_text icon="la-user" border="border-ccuser" class="bg-ccuser" field_name="last_name" text=(i18n "Презиме")}}
{{> components/button button_text=(i18n "Креирај корисника")}}
</form>

{{/inline}}
{{> base }}
