{{! vim: set ft=html: }}

<div class="flex justify-center items-center w-full h-full border-4 lg:border-2 border-highborder">
    <input class="w-full h-full text-4xl font-bold shadow-lg transition duration-300 ease-out cursor-pointer lg:text-xl text-highfg bg-highbg hover:bg-highbghov active:bg-highbgact active:text-highfgact" type="submit" value="{{button_text}}">
</div>