{{! vim: set ft=html: }}

<a class="p-8 px-16 text-4xl font-bold border-4 shadow-lg transition duration-300 ease-out cursor-pointer lg:border-2 border-highborder lg:text-base lg:p-2 lg:px-8 text-highfg bg-highbg hover:bg-highbghov active:bg-highbgact active:text-highfgact" href={{button_href}}>{{button_text}}</a>