{{! vim: set ft=html: }}

<a class="flex flex-row items-center py-4 {{#if icon}} pl-0 pr-16 lg:pr-8 {{else}} px-16 lg:px-8 {{/if}} text-4xl font-bold border-4 shadow-lg transition duration-300 ease-out cursor-pointer lg:border-2 border-highborder lg:text-base lg:p-2 text-highfg bg-highbg hover:bg-highbghov active:bg-highbgact active:text-highfgact" href={{button_href}}>
{{#if icon}}
    <i class="text-8xl lg:w-10 las {{icon}} lg:text-4xl text-icon"></i>
{{/if}}
<p>{{button_text}}</p>
</a>