{{! vim: set ft=html: }}

<div class="flex items-center mt-8 text-4xl rounded-xl shadow-lg lg:rounded-md lg:text-xl lg:mt-4 text-icon bg-eiconbg">
    <i class="px-2 mx-2 text-6xl lg:px-1 lg:mx-1 lg:text-4xl las la-exclamation-triangle text-icon"></i>
    <div class="p-4 pr-8 h-full text-5xl rounded-r-xl lg:text-base lg:p-2 lg:pr-4 lg:rounded-r-md bg-errorbg text-errorfg">{{error_text}}</div>
</div>