{{! vim: set ft=html: }}

<select class="p-4 text-5xl cursor-pointer lg:text-base lg:p-2 bg-inputbg shadow-l-lg text-input" name={{name}}>
  <option value="Student" {{#if (eq previous "Student")}}selected{{/if}}>{{i18n "Студент"}}</option>
  <option value="Professor" {{#if (eq previous "Professor")}}selected{{/if}}>{{i18n "Професор"}}</option>
  <option value="Administrator" {{#if (eq previous "Administrator")}}selected{{/if}}>{{i18n "Администратор"}}</option>
</select>
