{{! vim: set ft=html: }}

<div class="flex flex-col items-center space-y-12 lg:space-y-4">
    {{> components/label id=field_name}}
    <div class="border-4 lg:border-2 {{border}}">
        <div class="flex items-center shadow-lg transition duration-300 ease-out {{class}}">
            {{#if icon}}
                <i class="text-8xl w-32 lg:w-10 las {{icon}} lg:text-4xl text-icon"></i>
            {{/if}}
            {{> @partial-block}}
        </div>
    </div>
</div>