{{! vim: set ft=html: }}

{{> components/label id=field_name}}
<div class="flex items-center rounded-md shadow-lg transition duration-300 ease-out bg-iconbg {{special}}">
    <i class="las {{icon}} text-4xl text-icon"></i>
    {{> @partial-block}}
</div>