{{! vim: set ft=html: }}

<label for={{id}} class="flex items-center px-16 mt-24 mb-4 h-32 font-sans text-6xl font-semibold align-middle lg:mb-0 lg:mt-0 lg:px-8 lg:h-16 lg:text-lg text-caption">{{label_text}}</label>