{{! vim: set ft=html: }}

<div class="flex items-center text-4xl border-2 shadow-lg lg:text-xl border-successbg text-icon bg-siconbg">
    <i class="px-2 mx-2 text-6xl lg:px-1 lg:mx-1 lg:text-4xl las la-exclamation-triangle text-icon"></i>
    <div class="p-4 pr-8 h-full text-5xl lg:text-base lg:p-2 lg:pr-4 bg-successbg text-successfg">{{text}}</div>
</div>